{% extends "backend.html.twig" %}
{% block contenido %}
	<div class="table-responsive">          
	  <table class="table">
	    <thead>
	      <tr class="active">
			<th>DNI</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Cod Interno</th>			
			<th>
				<a href="backend.php?seccion=AgregarMiembro">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="glyphicon glyphicon-user"></span>Agregar Miembro
				</a>
			</th>
			<th></th>
			<th></th>
	      </tr>
	    </thead>
	    <tbody>
			{% for item in recursos.datosSeccion.listaMiembros %}
				<tr>
					<td>{{ item.numeroDocumento }}</td>
					<td>{{ item.nombre }}</td>
					<td>{{ item.apellido }}</td>
					<td>{{ item.id }}</td>			
					<td>
						<a href="backend.php?seccion=ModificarMiembro&amp;id={{ item.id }}">
						<img border="0" alt="Icono Modificar Miembro" src="IMG/edit.png" width="25" height="25"></a>
					</td>
					<td>
						<a href="action.php?accion=EliminarMiembro&amp;id={{ item.id }}">
						<img border="0" alt="Icono Eliminar Miembro" src="IMG/delete.png" width="25" height="25"></a>
					</td>
				</tr>
		    {% endfor %}
	    </tbody>
	  </table>
	  </div>
	</table>
{% endblock %}