{% extends "backend.html.twig" %}
{% block titulo %}
<div id="cabecera">
	<h3>Listado de Usuarios</h3>
</div>
{% endblock %}
{% block contenido %}
	<a href="backend.php?seccion=AgregarUsuario">Agregar Usuario</a> 
	<table id="tabLista">
		<tr>
			<th>Usuario</th>
			<th></th>
			<th></th>
		</tr>
	{% for item in recursos.datosSeccion.listaUsuarios %}
		<tr>
			<td>{{ item.username }}</td>
			<td>
				<a href="backend.php?seccion=ModificarUsuario&amp;id={{ item.id }}">
				<img border="0" alt="Icono Modificar Usuario" src="IMG/edit.png" width="25" height="25"></a>
			</td>
			<td>
				<a href="action.php?accion=EliminarUsuario&amp;id={{ item.id }}">
				<img border="0" alt="Icono Eliminar Usuario" src="IMG/delete.png" width="25" height="25"></a>
			</td>
		</tr>
    {% endfor %}
	</table>
	{% if ( recursos.datosSeccion.cantPaginas > 0 ) %}
		{% if ( recursos.datosSeccion.pagina == 0 ) or ( recursos.datosSeccion.pagina == 1 )  %} 
			{% set inicio = 0 %}
		{% else %}
			{% set inicio = (recursos.datosSeccion.pagina - 2) %}
		{% endif %}
		{% if ( recursos.datosSeccion.cantPaginas - ( inicio + 5 ) ) >= 0 %}
			{% set fin = inicio + 4 %}
		{% else %}
			{% set fin = recursos.datosSeccion.cantPaginas %}
		{% endif %}	
		{% if inicio > 0 %}
			<a href="backend.php?seccion=ABMUsuarios&amp;pagina={{ recursos.datosSeccion.pagina - 1 }}"><</a> | 
		{% endif %}
		{% for i in inicio..fin %}	
			{% if i == recursos.datosSeccion.pagina %}
			    {{ i + 1 }}
			{% else %}
				<a href="backend.php?seccion=ABMUsuarios&amp;pagina={{ i }}">{{ i + 1 }}</a>
			{% endif %}
		{% endfor %}
		{% if fin <	recursos.datosSeccion.cantPaginas %}
			 | <a href="backend.php?seccion=ABMUsuarios&amp;pagina={{ recursos.datosSeccion.pagina + 1 }}">></a> 
		{% endif %}
	{% endif %}
{% endblock %}