{% extends "backend.html.twig" %}
{% block titulo %}
<div id="cabecera">
	<h3>Opciones de Configuraci&oacuten</h3>
</div>
{% endblock %}
{% block contenido %}
<form action="action.php" method="post" id="formulario">
	<input class="fDatos" id="accion" name="accion" type="hidden" value="Configuracion"/>
	<label for="titulo">Titulo: </label>
	<input class="fDatos" id="titulo" type="text" name="titulo" placeholder="Titulo" required="" value="{{ recursos.configuracion.titulo }}" />
	<label for="descripcion">Descripcion: </label>
	<textarea class="fDatos" id="descripcion" rows="4" cols="50" name="descripcion" placeholder="Descripcion" required="" form="formulario">
	{{ recursos.configuracion.descripcion }} </textarea>
	<label for="email">Email: </label>
	<input class="fDatos" id="email" type="text" name="email" placeholder="Email" required="" value="{{ recursos.configuracion.email }}" />
	<label for="cantItems">Cantidad de items a mostrar: </label>
	<input class="fDatos" id="cantItems" type="number" name="cantItems" placeholder="Cantidad" required="" value="{{ recursos.configuracion.cantItems }}" />
	<select id="hablitado" name="habilitado">
		  <option {% if recursos.configuracion.habilitado == 1 %} selected {% endif %} value="1">Habilitado</option>
		  <option {% if recursos.configuracion.habilitado == 0 %} selected {% endif %} value="0">Deshabilitado</option>
	</select>							
	<label for="mensajeDeshabilitado">Mensaje a mostrar con el sitio deshabilitado: </label>
	<input class="fDatos" id="mensajeDeshabilitado" type="text" name="mensajeDeshabilitado" placeholder="Mensaje" required="" value="{{ recursos.configuracion.mensajeDeshabilitado }}"/>
	<button class="bDatos" type="submit" value="actualizar"> Actualizar </button>  
</form>
{% endblock %}