{% extends "backend.html.twig" %}
{% block contenido %}
	<div class="table-responsive">          
		<table class="table">
		    <thead>
				<tr>
					<th>C&oacute;digo Interno</th>
					<th>C&oacute;digo</th>
					<th>Tipo de Documento</th>
					<th>DNI</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Fecha de Nacimiento</th>
					<th>Sexo</th>
					<th>Email</th>
					<th>Facebook</th>
					<th>Direcci&oacute;n</th>
					<th>Tel&eacute;fono 1</th>
					<th>Tel&eacute;fono 2</th>
					<th>Fecha de Ingreso</th>
					<th>Fecha de Alta</th>
					<th>Bautizado</th>
					<th>Fecha de Bautismo</th>
				</tr>
			</thead>
			<tbody>
				{% for item in recursos.datosSeccion.listaMiembros %}
					<tr>
						<td>{{ item.idMiembro }}</td>			
						<td>{{ item.codigo }}</td>
						<td>{{ item.tipoDocumeno }}</td>
						<td>{{ item.numeroDocumento }}</td>
						<td>{{ item.nombre }}</td>
						<td>{{ item.apellido }}</td>					
						<td>{{ item.fechaNacimiento }}</td>
						<td>{{ item.sexo }}</td>
						<td>{{ item.eMail }}</td>
						<td>{{ item.faceBook }}</td>
						<td>{{ item.direccion }}</td>
						<td>{{ item.telefono1 }}</td>
						<td>{{ item.telefono2 }}</td>
						<td>{{ item.fechaIngreso }}</td>
						<td>{{ item.fechaAlta }}</td>
						<td>{{ item.bautizado }}</td>
						<td>{{ item.fechaBautismo }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}